AMADEUS_CLIENT_ID = "Your Key"
AMADEUS_CLIENT_SECRET =  "Your Key"
TWELVE_DATA_API_KEY =  "Your Key"
NEWS_API_KEY =  "Your Key"
WEATHER_API_KEY =  "Your Key"
OPENROUTE_API_KEY =  "Your Key"
AVIATION_STACK_API_KEY =  "Your Key"
TELEGRAM_API_KEY =  "Your Key"
OPENAI_API_KEY =  "Your Key"